body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

/* / * reset * / */

ul, ol {
   list-style-type: none; 
   margin: 0;
   padding: 0;
}

h1,
h2, 
h3, 
h4, 
h5, 
p {
margin: 0;    
}

a {
    text-decoration: none;
}

.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}
    

/* common */

.container {
max-width: 1158px;
padding: 0 15px;
margin: 0 auto;
}

/* header */

.page-header {
border-bottom: 1px solid #e7e9fc;
display: block;
}

.header-container {
display: flex;
align-items: center;    
}

.header-nav {
display: flex;
align-items: center;
}


.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#4d5ae5
}

button {
    cursor: pointer;
    border: none;
    font-family: inherit;
}

.header-logo {
padding: 24px 0;
margin-right: 76px;    
}

.header-logo .logo-part {
    color: #2e2f42;
}
    
.nav-list {
display: flex;
align-items: center;
gap: 40px;

}


.nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.contacts {
font-style: normal;  
margin-left: auto;  
}

.contacts-list {
display: flex;
align-items: center;
gap: 40px;
}

.contacts-link {
    display: block;
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455
}

.nav-link:hover,
.nav-link:focus, 
.contacts-link:hover,
.contacts-link:focus {
color: #404bbf;
}

/* ------- Efective section ----- */

.efective{
    background-color: #2e2f42;
    padding: 188px 0 188px;
    padding-bottom: 188px;
}


.efective-subtitle {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    margin: auto;
    margin-bottom: 48px;
}

.efective-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    background-color: #4d5ae5;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: auto;
}

.efective-button:hover,
.efective-button:focus {
    background-color: #404bbf;
}

/* --------- Features -----  */

.features {
    padding: 120px 0;
}

.features-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.features-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}

.features-list {
    display: flex;
    gap: 24px;
}

.features-item {
    flex-basis: calc((100% - 72px) / 4);
}

/* ------- Team ---  */
.container-employer {
    padding: 32px 0;

}

.team {
    background: #f4f4fd;
    padding: 120px 0 120px;
    padding-bottom: 120;
}

.team-name {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;


}

.team-list {
    display: flex;
    gap: 24px;
}

.team-item {
    background-color: #ffffff;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.team-image {
    background: #fff;
    display: block;
}

.team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    background: #fff;
    margin-bottom: 8px;
}

.team-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}


/* ----- Our Portfolii ----  */

.portfolio {
    padding: 120px 0 120px;
    padding-bottom: 120;
}

.portfolio-name {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-item {
    width: calc((100% - 48px) / 3);
    
}

.container-portfolio {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;

}

.portfolio-image {
    display: block;
    
}

.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


/* -------- general -------  */

.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.page-footer {
    background-color: #2e2f42;
    padding: 100px 0 100px;
    padding-bottom: 100px;
}
.footer-logo {
    display: inline-block;
    margin-bottom: 16px;

}
.logo-part {
    color: #f4f4fd;
    
}

.page-footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}
